{% extends 'students/__base.html' %}

{# ######################################################### #}

{% block page_title %}{% block page_subtitle %}OBJECT LIST{% endblock %}{% endblock %}

{# ########################################### #}

{% block content_title %}{% block list_header %}LIST HEADER{% endblock %}{% endblock %}

{# ######################################################### #}

{% block content %}
    {% block object_list %}
    LIST CONTENT
    {% endblock %}
{% endblock %}

{# ######################################################### #}
