{# ########################################################## #}
{# This template fragment expects to be have a `third_person` #}
{# variable as a part of the context.                         #}
{# This variable indicates whether it is *this* person        #}
{# or a different person looking at the information           #}
{# It is assumed that only people with the change_person      #}
{# permission will be looking at other people's information.  #}
{# ########################################################## #}

{% load humanize %}


{% with student=person.student %}
    {% if student %}
        <h3>Student Information</h3>
        <p>
            {% if third_person %}
                This person has 
            {% else %}
                You have
            {% endif %}
            a student record with
            student number {{ student.student_number }}.
            {% if third_person %}
                {% with regcount=student.student_registration_set.count %}
                    There
                    {% if regcount == 1 %}
                        is
                    {% else %}
                        are
                    {% endif %}
                    {{ regcount|apnumber }}
                    registration{{ regcount|pluralize }}
                    for this student,
                {% endwith %}
                of which
                {{ student.get_registrations|length|apnumber }}
                are currently active.
            {% endif %}
        </p>
    {% endif %}
{% endwith %}
 